.footer {
    padding: 80px 0 200px;
    margin-left: 299px;
    text-align: center;
    border-top: 2px solid #b10302;
    background-image: url(../images/bottom-bg.svg);
    background-repeat: repeat-x;
    background-position: bottom left;
    @media(max-width: 1080px) {
        margin-left: 0;
    }
    @media(max-width: 768px) {
        padding: 130px 0 140px;
    }
    @media(max-width: 500px) {
        padding: 200px 0;
    }
    &__email {
        color: #052344;
        font-size: 28px;
        font-weight: 700;
        position: relative;
        z-index: -1;
        @media(max-width: 500px) {
            font-size: 20px;
        }
        &::after {
            content: url(../images/footer-main.svg);
            position: absolute;
            left: -156px;
            top: -36px;
            @media(max-width: 768px) {
                left: 50%;
                transform: translate(-50%, 0);
                top: -120px;
            }
            @media(max-width: 500px) {
                content: url(../images/footer-main-mobail.png);
            }
        }
    }
}