body {
    font-family: $def-font;
    font-display: swap;
}

main {
    padding-left: 299px;
    min-height: calc(100vh - 310px);
}

.container {
    max-width: calc(#{$content-width} + 20px);
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    color: #052344;
    font-size: 36px;
    font-weight: 700;
    padding-left: 50px;
    position: relative;
    &::after {
        content: url(../images/organizers-romb.svg);
        position: absolute;
        left: 0;
    }
}